.vscode/*
.DS_Store
**/tmp/*
.env

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

# sqlite3
*.db

# cus im using prettier-go-template
node_modules/*
package-lock.json
package.json
