{{ block "base" . }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Guess The Number</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/styles/base.css" type="text/css" rel="stylesheet" />
		<link href="/styles/home.css" type="text/css" rel="stylesheet" />
		<link href="/styles/game.css" type="text/css" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://unpkg.com/htmx.org@1.9.12"
			integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="scripts/index.js" defer></script>
		<script src="scripts/dark-mode.js" defer></script>
	</head>

	<body>
        <div class="outer">
            <div class="middle">
                <div class="inner">

                    <div class="me-container">
                        <a href="https://livingpool.github.io/portfolio/" target="_blank" rel="noreferrer">
                            <img src="assets/tim-liu.png" alt="tim-liu"/>
                        </a>
                    </div>

                    <div class="slide-toggle">
                        <input
                            id="theme"
                            type="checkbox"
                            checked
                            onchange="toggleTheme(this.checked)"
                        />
                        <label for="theme">
                            <div><img src="assets/sun.svg" alt="sun.svg" class="sun-icon"/></div>
                            <div><img src="assets/moon.svg" alt="moon.svg" class="moon-icon"/></div>
                        </label>
                    </div>
                    
                    {{ template "home" .}}
                </div>
            </div>
        </div>
	</body>
</html>
{{ end }}
