{{ block "base" . }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Guess The Number</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/styles/home.css" type="text/css" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cute+Font&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://unpkg.com/htmx.org@1.9.12"
			integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
			crossorigin="anonymous"
		></script>
	</head>

	<body>
		{{ template "home" . }}
		<script>
			// htmx.logAll();
			document.addEventListener("DOMContentLoaded", (event) => {
				document.addEventListener("htmx:beforeSwap", (evt) => {
					if (evt.detail.xhr.status == 422) {
						evt.detail.shouldSwap = true;
						evt.detail.isError = false;
					}
				});
				document.addEventListener("htmx:afterSwap", (evt) => {
					if (evt.detail.elt.id == "form-container") {
						const digit = parseInt(
							document
								.getElementById("form-container")
								.getAttribute("data-digit")
						);
						addFields(digit);
					}
				});
				document.addEventListener("htmx:configRequest", (evt) => {
					if (evt.detail.elt.id == "submit-btn") {
						evt.detail.parameters["guess"] = calcInputs(); // add a new param to request
						var inputs =
							document.getElementsByClassName("digit-input"); // clear input
						Array.from(inputs).forEach((i) => {
							i.value = "";
						});
						const box = document.getElementById("digit1");
						box.focus();
					}
				});
			});

			// Dynamically generate input fields for game.html
			function addFields(digit) {
				var parent = document.createElement("div");
				parent.id = "input-container";
				var form = document.getElementById("form-container");
				var container = form.insertBefore(parent, form.childNodes[4]);

				for (i = 0; i < digit; i++) {
					var input = document.createElement("input");
					input.type = "number";
					input.min = "0";
					input.max = "9";
					input.name = "digit" + (i + 1);
					input.id = "digit" + (i + 1);
					input.className = "digit-input";
					container.appendChild(input);
				}

				// Allow only single digit inputs
				var boxes = document.getElementsByClassName("digit-input");
				var secondPress = false;
				Array.from(boxes).forEach((box, index, array) => {
					box.addEventListener("input", (event) => {
						if (
							box.value.length == 1 &&
							index != array.length - 1
						) {
							// Focus on the next sibling
							box.nextElementSibling.focus();
						}
					});
					box.addEventListener("keyup", (event) => {
						if (
							event.key == "Backspace" &&
							!box.value &&
							index > 0 &&
							secondPress
						) {
							// Focus on the previous sibling
							box.previousElementSibling.focus();
							secondPress = false;
						} else if (
							event.key == "Backspace" &&
							!box.value &&
							index > 0
						) {
							secondPress = true;
						} else if (
							event.key == "Enter" &&
							box.value &&
							index == array.length - 1
						) {
							document.getElementById("submit-btn").focus();
						}
					});
				});
			}

			// Concat strings from input boxes
			function calcInputs() {
				var boxes = document.getElementsByClassName("digit-input");
				var val = "";
				Array.from(boxes).forEach((box) => {
					if (box.value) {
						val += box.value;
					}
				});
				return val;
			}
		</script>
	</body>
</html>
{{ end }}
