{{ block "game" . }}
  <div
    id="form-container"
    class="form-container"
    data-digit="{{ .Digit }}"
    name=""
  >
    <h1>
      Number of Digits:
      <span style="color: darkorange">{{ .Digit }}</span>
    </h1>
    <h2>
      Range: [<span style="color: green">{{ .Start }}</span>,
      <span style="color: slateblue">{{ .End }}</span>]
    </h2>

    <!-- submit guess -->
    <button
      id="submit-btn"
      class="submit-btn"
      hx-get="/check"
      hx-target="#hints-table tbody"
      hx-vals='{"id": "{{ .PlayerId }}"}'
    >
      let's go!
    </button>

    <!-- on mobile: this is shown as a popup -->
    <table id="hints-table" class="table">
      <thead>
        <tr>
          <th>TimeStamp</th>
          <th>Your Guess</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <!-- on mobile only: use custom keyboard -->
    <div id="keyboard" class="keyboard">
      <div id="key1" class="key">1</div>
      <div id="key2" class="key">2</div>
      <div id="key3" class="key">3</div>
      <div id="key4" class="key">4</div>
      <div id="key5" class="key">5</div>
      <div id="key6" class="key">6</div>
      <div id="key7" class="key">7</div>
      <div id="key8" class="key">8</div>
      <div id="key9" class="key">9</div>
      <div id="key-delete" class="key">←</div>
      <div id="key0" class="key">0</div>
      <div
        class="key"
        id="key-enter"
        hx-get="/check"
        hx-target="#hints-table tbody"
        hx-vals='{"id": "{{ .PlayerId }}"}'
      >
        ⏎
      </div>
    </div>

    <!-- mobile only: hints-btn -->
    <button id="hints-btn" class="hints-btn" onclick="openHintsPopup()">
      check hints
    </button>

    <!-- home and leaderboard buttons at the bottom of the game page -->
    <div id="game-btn-container" class="game-btn-container">
      <button
        id="return-btn"
        hx-get="/return"
        hx-target="#form-container"
        hx-swap="outerHTML"
      >
        home
      </button>
      <button
        id="leaderboard-btn"
        hx-get="/show-board"
        hx-target="#popup-leaderboard tbody"
      >
        leaderboard
      </button>
    </div>

    <!-- mobile-only: hints popup -->
    <div id="overlay-hints" class="overlay">
      <div id="popup-hints" class="popup">
        <table></table>
      </div>
      <button id="close-hints-btn" onclick="closeHintsPopup()">close</button>
    </div>

    <!-- leaderboard popup -->
    <div id="overlay-leaderboard" class="overlay">
      <div id="popup-leaderboard" class="popup">
        <h2>
          <span style="color: forestgreen">Leader</span
          ><span style="color: skyblue">board</span> [<span
            style="color: orange"
            >{{ .Digit }}</span
          >
          Digits]
        </h2>
        <table>
          <thead>
            <tr>
              <th>id</th>
              <th>player</th>
              <th>attempts</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <button id="close-leaderboard-btn" onclick="closeLeaderboardPopup()">
        close
      </button>
    </div>
  </div>
{{ end }}
