<!--views/html/game.html-->

{{ block "game" . }}
<div id="form-container" hx-swap-oob="outerHTML" data-digit="{{ .Digit }}">
	<h1>
		Number of Digits: <span style="color: darkorange">{{ .Digit }}</span>
	</h1>
	<h2>
		Range: [<span style="color: darkgreen">{{ .Start }}</span>,
		<span style="color: darkslateblue">{{ .End }}</span>]
	</h2>

	<button
		id="submit-btn"
		class="submit-btn"
		hx-get="/check"
		hx-swap="innerHTML"
		hx-target="#table tbody"
	>
		let's go!
	</button>

	<table id="table" class="table">
		<thead>
			<tr>
				<th id="timestamp">TimeStamp</th>
				<th id="guess">Your Guess</th>
				<th id="result">Result</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
{{ end }}
