{{ block "leaderboard" . }}
<div id="overlay-leaderboard" class="overlay">
    <div id="popup-leaderboard" class="popup">
        {{- range ( len . | dec | slice . ) }}
        <h2>Leaderboard [{{ .Digits }} Digits]</h2>
        {{ end }}

        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>player</th>
                    <th>attempts</th>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .Attempts }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}
