{{ block "leaderboard" . }}
    {{- range ( len . | dec | slice . ) }}
        <h2>
            <span style="color: forestgreen">Leader</span
            ><span style="color: skyblue">board</span> [<span
                style="color: orange"
                >{{ .Digits }}</span
            >
            Digits]
        </h2>
    {{ end }}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>player</th>
                <th>attempts</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .Attempts }}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
{{ end }}
